data/
STM_output/

HPC_slurm/STM08

model/MLP_corpora_categories/
model/YAMNet/
model/VGGish/

yamnet_output/
vggish/
vggish_output/

metaTables/vocal_music_demucs/
metaTables/vocal_music_demucs_16k/

references/

_output/

*.DS_Store
*.asv
.ipynb_checkpoints
