data/
STM_output/

old_scripts/
old_model/

yamnet_output/
vggish/
vggish_output/
ast_output/
melspectrogram_output/
melspectrogram_norm_output/

model/

metaTables/vocal_music_demucs/
metaTables/vocal_music_demucs_16k/

references/

_output/

*.DS_Store
__pycache__/
*.asv
.ipynb_checkpoints
*.code-workspace