data/
STM_output/

yamnet_output/
vggish/
vggish_output/

# Do not ignore this
!model/VGGish/

metaTables/vocal_music_demucs/
metaTables/vocal_music_demucs_16k/

references/

_output/

*.DS_Store
*.asv
.ipynb_checkpoints